* {
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
body {
	background:url("../IMG/background.png") no-repeat;
	background-size:cover;
	position:relative;
	width:100vw;
	height:100vh;
	overflow:hidden;
}
#network {
	position:absolute;
	top:0px;
	left:0px;
	width:100vw;
	height:100vh;
	overflow:hidden;
	background:url("../IMG/network.png") no-repeat;
	background-size:cover;
}
