* {
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
html {
	height:100vh;
}
body {
	background-image:url("../IMG/background.jpg");
	background-repeat:no-repeat;
	/* Permet de remonter légèrement le bas de l'image, n'influence pas le placement plein écran */
	background-position:bottom;
	background-size:cover;
	position:relative;
	width:100vw;
	height:100vh;
	overflow:hidden;
}
#network {
	background-image:url("../IMG/network.svg");
	background-repeat:no-repeat;
	background-size:cover;
	position:fixed;
	width:100vw;
	height:100vh;
	overflow:hidden;
	margin-top:-85px;
}
.overlay {
	display:-webkit-flex;
	display:-ms-flex;
	display:flex;
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background-color: rgba(0,0,0,0.5);
	z-index: 1000;
	animation-name: overlay_bg_anim;
	animation-duration:1s;
	align-items: center;
}
.overlay_bg {
	position: relative;
	min-height: 300px;
	background: rgba(17,98,109,0.7);
	animation-name: overlay_anim;
	animation-duration:1s;
	width: 100%;
}
.overlay_content {
	display: inline-block;
	font-family: "Satellite", Helvetica, Arial, sans-serif;
	width: 100%;
}
.overlay_content > p {
	width: 900px;
	margin: 0 auto;
	text-align: justify;
	padding: 50px;
}
.overlay_content > h3 {
	text-align: center;
	padding-top: 25px;
	text-transform: uppercase;
}
.overlay_content .typed {
	color: white;
}
.overlay_content .typed > span {
	display: inline-block;
}
.skip {
	position: absolute;
	bottom: 15px;
	right: 15px;
	color: white;
	text-decoration: none;
}
.skip span {
	margin-left:5px;
}
@keyframes overlay_anim {
	0%   { transform: translateY(-100%); }
	100% { transform: translateY(0); }
}
@keyframes overlay_bg_anim {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
.point {
	width:30px;
	height:30px;
	border-radius:50%;
	position:absolute;
	background-color:white;
	/* box-shadow: 0px 0px 25px 10px white; */
	font-size: 0.1em;
	line-height: 1em;
	transition: .5s;
}

.point:hover{
	/*transform: scale(1.1);*/
	cursor: pointer;
}

/* Gestion du halo lumineux animé autour des ".point" */
.pulsating::after {
	content:"";
	position:absolute;
	background-color:white;
	width:30px;
	height:30px;
	border-radius:50%;
	animation-name:pulse;
	animation-duration:2s;
	animation-fill-mode:both;
	animation-direction:normal;
	animation-iteration-count:infinite;
}
@keyframes pulse {
  0%   { opacity: 1; transform: scale(1, 1); }
  100% { opacity: 0; transform: scale(2, 2); }
}

.pulsating::after:hover{
	background-color: #d15661;
}

#p1 {top:371px;left:61px;}
#p2 {top:181px;left:223px;}
#p3 {top:411px;left:405px;}
#p4 {top:329px;left:541px;}
#p5 {top:471px;left:655px;}
#p6 {top:229px;left:701px;}
#p7 {top:250px;left:902px;}
#p8 {top:371px;left:1013px;}
#p9 {top:213px;left:1121px;}
#p10 {top:409px;left:1245px;}
#p11 {top:111px;left:1317px;}
#p12 {top:351px;left:1382px;}

@font-face {
	font-family: "Satellite";
	src: url('../assets/Satellite/Satellite.otf');
}

.zoomTarget> .inPoint {
	visibility: hidden;
}
.selectedZoomTarget> .inPoint {
	visibility: visible;
	position: absolute;
	animation-name: overlay_anim;
	animation-duration:1s;
	height: 100px;
	width: 50px;
	left: 50px;
	top: -10px;
}
.inPoint img {
	max-width: 50px;
	position: absolute;
}
.inPoint .pola1 {
	left: -35px;
	top: -13px;
	display: none;
}
.inPoint .pola2 {
	left: -18px;
	top: -15px;
	display: none;
}
.inPoint .pola3 {
	left: -3px;
	top: -12px;
	display: none;
}
.inPoint .polaAnimer {
	animation-name:overlay_anim;
	animation-duration:1.5s;
	display:block;
}
#particles-js {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -100;
}

/* ODOMETER */
#date {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	padding:40px 0px;
}
/* Augmente la taille standard de l'odometer */
#date > * {
	transform:scale(4);
}
/* La marge entre chaque digit de l'odometer */
.odometer-digit {
	margin:0px 1px !important;
}
/* Permet de cacher la "," dans une date à plus de 3 digit */
.odometer-formatting-mark {
	display:none;
}
/* Permet de gérer le "-" devant une date négative */
.odometer-negation-mark {
	display:inline-block !important;
	transform:scale(2);
	margin-right:3px;
}
